$border: #ecb807;

.portfolio-item {
  border: 3px solid $border;
  display: block;
  margin: auto auto 1rem;
  max-width: 530px;
  outline: 3px solid $border;
  outline-offset: -3px;
  overflow: hidden;
  position: relative;
  transition: outline-offset 250ms ease, outline-width 250ms ease;

  &:hover,
  &:focus {
    outline-offset: 0;
    outline-width: 5px;
  }
}

.desc {
  font-size: 1.25rem;
}
